{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bottle/main.css' %}">
</head>
<body>

    <div class="game-container">
        <h1>Spin da' Bottle</h1>

        <div class="circle-container">
            <div class="semi-circle up">UP</div>
            <div class="semi-circle down">DOWN</div>
            <div id="bottle">
                <img src="{% static 'bottle/bottle.png'%}" alt="" class="bottle">
            </div>
        </div>
        
        <br>
        <div class="bet-controls">
            <button class="up-btn" onclick="placeBet('UP')">UP</button>
            <button class="down-btn" onclick="placeBet('DOWN')">DOWN</button>
        </div>
        <div class="chips">
            <div onclick="selectChip(100)" class="chip active">100</div>
            <div onclick="selectChip(500)" class="chip">500</div>
            <div onclick="selectChip(1000)" class="chip">1K</div>
        </div>
        <div class="result" id="result">Place your bet!</div>
    </div>
    
    <script src="{% static 'bottle/main.js' %}"></script>
</body>
</html>