{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flappybit</title>
    <link rel="stylesheet" href="{% static 'minislot/main.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    <div class="option">
        <i class="fa-solid fa-volume-high fa-2x" id="sound"></i>
        <a href="/"><i class="fa-solid fa-home" style="font-size:36px" id="home"></i></a>
        <div id="balance">{% if balance %} ₱{{balance}} {% else %} ₱0.00 {% endif %}</div>
        <a href="/#games"><i class="material-icons" style="font-size:48px; color:black">&#xe5c3;</i></a>
        <i class="fa-solid fa-arrows-rotate fa-2x" id="reload"></i>
    </div>

    <div id="contain">
        <div class="slots">
            <div class="reel"></div>
            <div class="reel"></div>
            <div class="reel"></div>
        </div>
    </div>

    <div class="option2">
        <!-- amount and button -->
        <div class="amount-input-container">
            <button id="minus-btn">-</button>
            <input id="amount-input" type="number" value="10" min="10" />
            <button id="plus-btn">+</button>
        </div>

        <!-- spin button -->
        <button id="spin">Spin</button>
    </div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'minislot/main.js' %}"></script>
<script src="https://kit.fontawesome.com/82d49a62e0.js" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}




