{% extends 'base2.html' %}
{% load static %}


{% block sidebar %}
    <li>
        <a href="{% url 'profile' %}" >Dashboard</a>
    </li>
    <li>
        <a href="{% url 'rewards' %}">Rewards</a>
      </li>
    <li>
        <a href="{% url 'history' %}" class="active">Transaction History</a>
    </li>
    <li>
        <a href="{% url 'payments:deposit' %}">Deposit</a>
    </li>
    <li>
        <a href="{% url 'payments:withdrawal' %}">Withdrawal</a>
    </li>
{% endblock %}

{% block content  %}

<link rel="stylesheet" href="{% static 'css/custom.css' %}">


    <div class="table--responsive--md" style="margin-top: 0 !important;">
        <table class="table">
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Transaction Type</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for i in history %}
                <tr>
                    <td class="trx-id" data-label="Transection ID">{{i.reference_number}}</td>
                    <td class="trx-type" data-label="Transection Type">{{i.action}}</td>
                    <td class="amount" data-label="status">{{i.status}}</td>
                    <td class="date" data-label="Date">{{i.date_created| date}} {{i.date_created|time}}</td>
                    <td class="amount" data-label="Amount">₱{{i.amount}}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>


{% endblock %}